
<div>
    <form>
      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" id="id" placeholder="Id" ng-model = "id">
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model = "firstName">
      </div>
     <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model = "lastName">
      </div>
         <div class="form-group">
        <label for="Company">Compnay</label>
        <input type="text" class="form-control" id="Company" placeholder="Company" ng-model = "company">
      </div>
         <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" placeholder="Age" ng-model = "age">
      </div>
         <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" placeholder="Location" ng-model = "location">
      </div>
    </form>
    <p class="text-danger bg-danger" >{{message}}</p>
    <button class = "btn btn-detail" ng-click = "addOrUpdate()">Add or Update</button>
</div>