<div>
    <table class = "table table-bordered">
        <caption><h1>Detail's of {{customer.firstName}}</h1></caption>
        <tr><th>Id</th><td>{{customer.id}}</td></tr>
        <tr><th>First Name</th><td>{{customer.firstName}}</td></tr>
         <tr><th>Last Name</th><td>{{customer.lastName}}</td></tr>
         <tr><th>Age</th><td>{{customer.age}}</td></tr>
          <tr><th>Location</th><td>{{customer.location}}</td></tr>
          <tr><th>Company</th><td>{{customer.company}}</td></tr>
        
    </table>

</div>